.app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    rgba(255,255,255,0.5),
    rgba(255,255,255,0.1)
  ),
  url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  
}

form{
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

h1{
  color: rgb(45, 45, 170);
  text-align: center;
  margin: 4px;
}

button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(23, 114, 114);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}